@model List<ReadAndWatchList.ViewModels.MultipleUpdateMoviesAndBooksViewModel>

@{
    ViewBag.Title = "MultipleUpdate";
}

<h2>MultipleUpdate</h2>

<div class="well-sm">
    <div class="btn-toolbar">
        <a href="@Url.Action("Index")" class="btn btn-info btn-lg">Movies/Books list <span class="glyphicon glyphicon-arrow-right"></span></a>
    </div>
</div>
<hr />
@using (Html.BeginForm())
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[1].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[1].GradeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[1].SerieId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[1].MainCategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[1].SubCategoriId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[1].UpdateThis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model)*@
        @for (int i = 0; i < Model.Count(); i++)
        {

            <tr>
                @Html.HiddenFor(modelItem => modelItem[i].Id)
                <td>
                    @Html.DisplayFor(modelItem => modelItem[i].Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem[i].Grade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem[i].SerieName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem[i].MainCategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem[i].SubCategoryName)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.UpdateThis)*@
                    @*<input class="check-box" type="checkbox" />*@
                    @Html.CheckBoxFor(modelItem => modelItem[i].UpdateThis)
                </td>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <td class="col-xs-4">
                                    <a href="@Url.Action("Edit", new { id = Model[i].Id })" class="btn btn-info btn-sm col-xs-12" title="Edit">Edit <span class="glyphicon glyphicon-edit"></span></a>
                                </td>
                                <td class="col-xs-4">
                                    <a href="@Url.Action("Details", new { id = Model[i].Id })" class="btn btn-warning btn-sm col-xs-12" title="Details">Details <span class="glyphicon glyphicon-expand"></span></a>
                                </td>
                                <td class="col-xs-4">
                                    <a href="@Url.Action("Delete", new { id = Model[i].Id })" class="btn btn-danger btn-sm col-xs-12" title="Remove Movie/Book">Remove <span class="glyphicon glyphicon-remove"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

        }
    </tbody>

</table>
}