@model ReadAndWatchList.Models.Series

@{
    ViewBag.Title = "Serie Details";
}

<h2>Serie Details</h2>

<div>
    <h4>Serie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SerieName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerieName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    <a href="@Url.Action("Edit", new { id=Model.Id})" class="btn btn-info btn-sm col-xs-1" title="Edit">Edit <span class="glyphicon glyphicon-edit"></span></a> |
    @*@Html.ActionLink("Back to Series", "Index")*@
    <a href="@Url.Action("Index")" class="btn btn-default">Back to Series </a>
</p>
